@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    color: white;
}


body {
    background-color: hsl(218, 28%, 13%);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}
